<!doctype html>
<html lang="zxx">

<head>
    @@include('./_head.html', {
    "path": ""
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_header-01.html',{
        "path": "..",
        "imgPath": "../../assets",
        "HeaderClass": "navbar-light sticky-top bg-white",
        "ContainerClass": "container",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="bg-center bg-cover bg-no-repeat position-relative section" style="background-image: url(assets/img/banner-heading-01.jpg)">
                <div class="container text-center">
                    <div class="text-center text-white fs-1 mb-2">
                        <i class="fa-solid fa-spa fa-fw"></i>
                    </div>
                    <h2 class="display-3 fw-700 text-white lh-1 mb-4">Contact US</h2>
                    <ol class="breadcrumb m-0 text-white text-opacity-75 justify-content-center" style="--bs-breadcrumb-divider-color: rgba(255,255,255,.5)">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item text-reset active" aria-current="page">Contact US</li>
                    </ol>
                </div>
            </section>
            <!-- End Section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body p-lg-6">
                                    <h3 class="h3 mb-3">You Can Mail Us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <form class="rd-mailform pt-3" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-name">Your Name</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-email">Email Address</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-floating">
                                                    <input id="contact-subject" type="text" name="subject" placeholder="Subject" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-email">Subject</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input type="text" name="contact-company" class="form-control" placeholder="pxdraft" id="contact-company">
                                                    <label class="form-label" for="contact-company">Company (optional)</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                                    <label class="form-label" for="contact-phone">Phone (optional)</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <textarea class="form-control" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required" style="height: 150px"></textarea>
                                                    <label class="form-label" for="contact-message">Message</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit" name="send">Get Started</button>
                                                <div class="snackbars" id="form-output-global"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ps-xl-12 pl-lg-6">
                            <h3 class="h2 mb-2">
                                Get in Touch
                            </h3>
                            <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <ul class="list-unstyled mb-0 pt-3 border-bottom pb-2 mb-2">
                                <li class="pb-3 d-flex">
                                    <div class="icon-sm bg-primary text-white rounded-circle">
                                        <i class="bi bi-phone fs-5"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <div class="mb-1 text-dark fw-600">Phone</div>
                                        <span>+01 5565 6565 6565</span>
                                    </div>
                                </li>
                                <li class="pb-3 d-flex">
                                    <div class="icon-sm bg-primary text-white rounded-circle">
                                        <i class="bi bi-envelope fs-5"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <div class="mb-1 text-dark fw-600">Email</div>
                                        <span>info@domain.com</span>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="h5 mb-2">
                                Address
                            </h3>
                            <p>1600 Amphitheatre Parkway<br>New York WC1 1BA</p>
                            <h3 class="h5 mb-3 border-top pt-4 mt-2">
                                Follow
                            </h3>
                            <div class="nav">
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-instagram"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <div class="section">
                <div class="container">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <!-- End section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_footer-01.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>