<!doctype html>
<html lang="zxx">

<head>
    @@include('./_head.html', {
    "path": ""
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_header-01.html',{
        "path": "..",
        "imgPath": "../../assets",
        "HeaderClass": "navbar-light sticky-top bg-white",
        "ContainerClass": "container",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="bg-center bg-cover bg-no-repeat position-relative section" style="background-image: url(assets/img/banner-heading-02.jpg)">
                <div class="container text-center">
                    <div class="text-center text-white fs-1 mb-2">
                        <i class="fa-solid fa-spa fa-fw"></i>
                    </div>
                    <h2 class="display-3 fw-700 text-white lh-1 mb-4">Price Plan</h2>
                    <ol class="breadcrumb m-0 text-white text-opacity-75 justify-content-center" style="--bs-breadcrumb-divider-color: rgba(255,255,255,.5)">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item text-reset active" aria-current="page">Price Plan</li>
                    </ol>
                </div>
            </section>
            <!-- End Section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <div class="mb-6">
                                <img src="assets/img/effect/effect-1.png" title="" alt="">
                            </div>
                            <h2 class="h1 mb-3">Choose The Option That Suits You</h2>
                            <p class="m-0">Lorem ipsum dolor sit amet, eum modus ludus efficiendi ad, in sea ceteros postulant imperdiet, mel ei harum appellantur disputationi. Ridens pertinax eos ei, mel ad mazim nominati sensibus.</p>
                        </div>
                    </div>
                    <div class="row justify-content-around pt-3">
                        <div class="col-lg-5">
                            <ul class="list-unstyled mb-0">
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-1.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Explore the unknown</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-2.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Clinical Treatments</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-3.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Organic Products</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <ul class="list-unstyled mb-0">
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-1.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Explore the unknown</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-2.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Clinical Treatments</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-3.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Organic Products</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->

            <!-- section -->
            <section class="section bg-cover bg-no-repeat" style="background-image: url(assets/img/banner-heading-03.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 class="display-3 text-white">100% Natural</h2>
                            <p class="text-white text-opacity-85">Quo at nobis equidem copiosae. Iracundia splendide ut vis. Duo pro deserunt te, an propriae invidunt verterem sea oratio.</p>
                            <div class="pt-4">
                                <a class="btn btn-outline-light text-uppercase" href="#">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->

            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <div class="mb-6">
                                <img src="assets/img/effect/effect-1.png" title="" alt="">
                            </div>
                            <h2 class="h1 mb-3">Choose The Option That Suits You</h2>
                            <p class="m-0">Lorem ipsum dolor sit amet, eum modus ludus efficiendi ad, in sea ceteros postulant imperdiet, mel ei harum appellantur disputationi. Ridens pertinax eos ei, mel ad mazim nominati sensibus.</p>
                        </div>
                    </div>
                    <div class="row justify-content-around pt-3">
                        <div class="col-lg-5">
                            <ul class="list-unstyled mb-0">
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-1.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Explore the unknown</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-2.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Clinical Treatments</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-3.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Organic Products</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <ul class="list-unstyled mb-0">
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-1.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Explore the unknown</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-2.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Clinical Treatments</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                                <li class="pb-5 d-flex align-items-center">
                                    <div class="icon-lg p-2 bg-primary rounded-3">
                                        <img src="assets/img/effect/f-icon-3.svg" title="" alt="">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex align-items-baseline pb-2">
                                            <h6 class="m-0 pe-4 h5 text-primary">Organic Products</h6>
                                            <span class="border-bottom flex-grow-1"></span>
                                            <span class="ps-4 h5 m-0">$120</span>
                                        </div>
                                        <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->

            <!-- section -->
            <section class="section bg-cover bg-no-repeat bg-center" style="background-image: url(assets/img/call-to-action-bg.jpg)">
                <div class="container py-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center">
                            <h5 class="h1">Get a Free Quote</h5>
                            <p>There are many variations of passages gaks of Lofrem the Ipsum availaasble, busat the majority </p>
                            <a class="btn btn-primary" href="#">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_footer-01.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>