<!doctype html>
<html lang="zxx">

<head>
    <!-- metas -->
<meta charset="utf-8">
<meta name="author" content="pxdraft">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="Revathi – Spa & Salon Templates">
<meta name="description" content="Revathi – Spa & Salon Templates">
<!-- title -->
<title>Revathi – Spa & Salon Templates</title>
<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico">
<!-- CSS Template -->
<link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Skippy & Prload -->
    <!-- skippy -->
<a id="skippy" class="skippy visually-hidden-focusable overflow-hidden" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<!-- End skippy -->
<!-- Preload -->
<div id="loading" class="loading-preloader bg-dark">
    <div class="loading-preloader-in">
        <div class="spinner-03">
            <span class="text-primary"></span>
        </div>
    </div>
</div>
<!-- End Preload -->
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        <!-- Header -->
<header class="main-header main-header-01 headroom navbar-light sticky-top bg-white">
    <!-- End Header -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="index.html">
                <img class="logo-dark" src="assets/img/logo.svg" title="" alt="">
                <img class="logo-light" src="assets/img/logo-light.svg" title="" alt="">
            </a>
            <!-- Logo -->
            <!-- Menu -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas_Header_01" aria-labelledby="offcanvas_Header_01Label">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvas_Header_01Label">
                        <img src="assets/img/logo.svg" title="" alt="">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="services.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="price.html" class="nav-link">Price</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            Blog
                        </a>
                        <ul class="dropdown-menu start">
                            <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                            <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            Others
                        </a>
                        <ul class="dropdown-menu start">
                            <li><a class="dropdown-item" href="contact-us.html">Contact Us</a></li>
                            <li><a class="dropdown-item" href="team.html">Team</a></li>
                            <li><a class="dropdown-item" href="reservation.html">Book Appointment</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
            </div>
            <!-- End Menu -->
            <div class="nav d-flex ps-4">
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_Header_01" aria-controls="offcanvas_Header_01" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                </button>
                <!-- End Mobile Toggle -->
                <a href="reservation.html" class="btn header-btn text-nowrap btn-sm d-none d-lg-flex text-uppercase">Book Now</a>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="bg-center bg-cover bg-no-repeat position-relative section" style="background-image: url(assets/img/banner-heading-01.jpg)">
                <div class="container text-center">
                    <div class="text-center text-white fs-1 mb-2">
                        <i class="fa-solid fa-spa fa-fw"></i>
                    </div>
                    <h2 class="display-3 fw-700 text-white lh-1 mb-4">Contact US</h2>
                    <ol class="breadcrumb m-0 text-white text-opacity-75 justify-content-center" style="--bs-breadcrumb-divider-color: rgba(255,255,255,.5)">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item text-reset active" aria-current="page">Contact US</li>
                    </ol>
                </div>
            </section>
            <!-- End Section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body p-lg-6">
                                    <h3 class="h3 mb-3">You Can Mail Us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <form class="rd-mailform pt-3" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-name">Your Name</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-email">Email Address</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-floating">
                                                    <input id="contact-subject" type="text" name="subject" placeholder="Subject" data-constraints="@Required" class="form-control">
                                                    <label class="form-label" for="contact-email">Subject</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input type="text" name="contact-company" class="form-control" placeholder="pxdraft" id="contact-company">
                                                    <label class="form-label" for="contact-company">Company (optional)</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating">
                                                    <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                                    <label class="form-label" for="contact-phone">Phone (optional)</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <textarea class="form-control" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required" style="height: 150px"></textarea>
                                                    <label class="form-label" for="contact-message">Message</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit" name="send">Get Started</button>
                                                <div class="snackbars" id="form-output-global"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ps-xl-12 pl-lg-6">
                            <h3 class="h2 mb-2">
                                Get in Touch
                            </h3>
                            <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <ul class="list-unstyled mb-0 pt-3 border-bottom pb-2 mb-2">
                                <li class="pb-3 d-flex">
                                    <div class="icon-sm bg-primary text-white rounded-circle">
                                        <i class="bi bi-phone fs-5"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <div class="mb-1 text-dark fw-600">Phone</div>
                                        <span>+01 5565 6565 6565</span>
                                    </div>
                                </li>
                                <li class="pb-3 d-flex">
                                    <div class="icon-sm bg-primary text-white rounded-circle">
                                        <i class="bi bi-envelope fs-5"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <div class="mb-1 text-dark fw-600">Email</div>
                                        <span>info@domain.com</span>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="h5 mb-2">
                                Address
                            </h3>
                            <p>1600 Amphitheatre Parkway<br>New York WC1 1BA</p>
                            <h3 class="h5 mb-3 border-top pt-4 mt-2">
                                Follow
                            </h3>
                            <div class="nav">
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-instagram"></i>
                                </a>
                                <a class="btn btn-primary-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                                    <i class="bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <div class="section">
                <div class="container">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <!-- End section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        <!-- Footer -->
<footer class="bg-dark footer">
    <div class="footer-top py-7 py-md-8 py-lg-10">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-3 pe-xl-5">
                    <h5 class="footer-title-01 text-white">About Spa</h5>
                    <p class="text-white fs-sm text-opacity-85">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="nav mb-5">
                        <a class="btn btn-light-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                            <i class="bi-facebook"></i>
                        </a>
                        <a class="btn btn-light-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                            <i class="bi-twitter"></i>
                        </a>
                        <a class="btn btn-light-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                            <i class="bi-instagram"></i>
                        </a>
                        <a class="btn btn-light-soft fs-sm p-0 icon-sm rounded-circle me-2" href="#">
                            <i class="bi-linkedin"></i>
                        </a>
                    </div>
                    <h5 class="text-white">Open Hours</h5>
                    <p class="text-white fs-sm text-opacity-85">Sunday to Friday <strong>08:00 - 20:00</strong></p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title-01 text-white">CATEGORIES</h5>
                    
                    <ul class="list-unstyled footer-link-01 fs-sm text-uppercase">
                        <li>
                            <a class="text-white" href="#">SKINCARE</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">MAKEUP</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">FRAGRANCE</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">HAIRCARE</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">BATH & BODY</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title-01 text-white">Quick Links</h5>
                    <ul class="list-unstyled footer-link-01 fs-sm text-uppercase">
                        <li>
                            <a class="text-white" href="#">SERVICES</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">About Us</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">PRICE PLAN</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">CONTACT US</a>
                        </li>
                        <li>
                            <a class="text-white" href="#">OUR BLOG</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer-title-01 text-white">
                        Newsletter
                    </h5>
                    <ul class="list-unstyled m-0">
                        <li class="d-flex mb-3">
                            <div class="avatar-xl">
                                <img class="avatar-img rounded-2" src="assets/img/about-1.jpg" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <p class="mb-1 fw-600">
                                    <a class="text-white" href="#">Health By Or Through Water</a>
                                </p>
                                <span class="fs-sm text-white text-opacity-65"><i class="bi-calendar text-primary me-2"></i> 22 June 2023</span>
                            </div>
                        </li>
                        <li class="d-flex mb-3">
                            <div class="avatar-xl">
                                <img class="avatar-img rounded-2" src="assets/img/about-2.jpg" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <p class="mb-1 fw-600">
                                    <a class="text-white" href="#">Health By Or Through Water</a>
                                </p>
                                <span class="fs-sm text-white text-opacity-65"><i class="bi-calendar text-primary me-2"></i> 22 June 2023</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="opacity-10 m-0">
    <div class="py-2">
        <div class="container">
            <div class="row gy-3 align-items-center">
                <div class="col-md-6">
                    <div class="nav justify-content-center justify-content-md-start my-2 links-white fs-sm list-unstyled footer-link-01 m-0">
                        <a href="#" class="me-3 text-white">Privace &amp; Policy</a>
                        <a href="#" class="me-3 text-white">Faq's</a>
                        <a href="#" class="me-3 text-white">Get a Quote</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="text-white text-opacity-75 fs-sm m-0">© 2023 Hungry is Proudly Powered by pxdraft</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    <!--bootstrap-->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- swiper JS -->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Headroom JS -->
<script src="assets/vendor/headroom/headroom.min.js"></script>

<!-- Timezz JS -->
<script src="assets/vendor/timezz/timezz.js"></script>

<!-- Theme JS -->
<script src="assets/js/theme.js"></script>

    <!-- End script start -->
</body>

</html>